.studentList{
    padding: 20px;
    height: calc(100% - 40px);
    overflow: scroll;
    width: calc(100% - 40px);
}
.studentList__searchContainer{
    height:60px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 21px 0px rgba(48,115,248,0.1);
    border-radius:10px;

    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    margin-bottom: 20px;
}
.studentList__searchContainer__tag{
    font-family:PingFangSC-Regular;
    font-weight:400;
    font-size: 18px;

}
.studentList__searchContainer__selectContainer{
    margin: 0 15px;
    background-color: #ECF3FF;
    border-radius: 18px;
    width: 170px;
    padding-left: 15px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #999999;

    position: relative;
}
.studentList__searchContainer__selectText{

}
.studentList__searchContainer__arrowWrap{
    width: 30px;
    height: 30px;
    background-color: #5F0AFF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.studentList__searchContainer__arrow{
    display: inline-block;
    border: solid 5px white;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
    margin-top: -5px;
}
.studentList__searchContainer__searchBtn{
    width: 70px;
    height: 35px;
    border-radius: 18px;
    background-color: #5F0AFF;
    color: white;
    text-align: center;
    line-height: 35px;
}
.studentList__searchContainer__optionsContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
}
.studentList__searchContainer__optionsContainer__arrow{
    display: inline-block;
    /* border: solid 5px red; */
    transform: rotate(45deg);
    /* border-right-color: transparent; */
    /* border-bottom-color: transparent; */
    margin-left: 30px;

    width: 10px;
    height: 10px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border: 1px solid #e4e7ed;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.studentList__searchContainer__optionsContainer__options{
    height: 200px;
    background-color: white;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    /* box-shadow: 0 0px 12px 0 rgba(0,0,0,.1); */
    box-shadow:0px 0px 21px 0px rgba(48,115,248,0.1);
    margin-top: -9px;
}
.studentList__studentsContainer{
    /* height:300px; */
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 21px 0px rgba(48,115,248,0.1);
    border-radius:10px;
}
.studentList__infoTable{
    padding: 20px;
    width: 100%;
    border-spacing: 0px;
}
.studentList__infoLabel{
    background-color: #5F0AFF;
    height: 70px;
    color: white;
}
.studentList__infoLabel__item{

}
.studentList__infoValue{
    height: 60px;
    font-size: 16px;
    color: #333;
}
.studentList__infoValue--blue{
    background-color: #f2f7ff;
}
.studentList__infoValue--white{
    background-color: #ffffff;
}
.studentList__infoValue__item{
    text-align: center;
    vertical-align: middle;
}
.studentList__infoValue__item__updateBtn{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    background: #5f0aff;
    border-radius: 16px;
    color: #fff;
    padding: 0 14px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}
.studentList__infoValue__item__evaluateBtn{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    background: #5f0aff;
    border-radius: 16px;
    color: #fff;
    padding: 0 14px;
    cursor: pointer;
    font-size: 14px;
}
